# Docker Env var

# No need to modify this
PROJECT_DIR=/code/src/project/
PROJECT_PACKAGE=project

# Database config
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=db
# You probably need to change this
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGPASSWD=password

#
HOSTNAME=visu

FRONT_URL=http://localhost:8080

# Change this also
# TERRALEGO_FRONT_DOMAIN="<front domain>"
# TERRALEGO_BACK_DOMAIN="<back domain>"
# TERRALEGO_MAIL_DOMAIN="<mail domain>"
# FRONT_URL="<frontend URL>"

# This need to be changed in production
SECRET_KEY=masuperclefsecrete

# MAILCATCHER_USER=mailcatcher
# MAILCATCHER_PASSWORD=mailcatcher

