# To override in your project skeleton
PROJECT_DIR=/code/src/project/
PROJECT_PACKAGE=project
#
GUNICORN_CLASS=sync
#
POSTGRES_STARTUP_TIMEOUT=45s
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PGPASSWD=password
#
HOSTNAME=${DJANGO_NAME}
#
FRONT_URL=http://localhost:8080
# PROD
# TERRALEGO_FRONT_DOMAIN="<front domain>"
# TERRALEGO_BACK_DOMAIN="<back domain>"
# TERRALEGO_MAIL_DOMAIN="<mail domain>"
# FRONT_URL="<frontend URL>"

# This need to be changed in production
SECRET_KEY=ChangeThatSuperSecret
MAILCATCHER_USER=mailcatcher
MAILCATCHER_PASSWORD=mailcatcher

PYFILES_STORAGE=pyfiles.storages.s3storage.S3Storage
PYFILES_ACCESS_KEY=access_key
PYFILES_SECRET_KEY=secret_key
PYFILES_ENDPOINT_URL=https://shomewehre.in.the.cloud
PYFILES_REGION_NAME=region
PYFILES_BUCKET_NAME=bucket

# This needs to be set up from vaultier
VISU_DB=carto
VISU_USER=user
VISU_PASSWORD=password
VISU_HOST=ip
# vim: set ft=sh:
