import os

# Production variables

ALLOWED_HOSTS = [] # Allowed referer hostname
CORS_ORIGIN_WHITELIST = () # Cors 

# ADMINS = () # To receive errors

SECRET_KEY = 'super-hot-secret-123456789'

TERRA_TILES_HOSTNAMES = [] # Add here tiles hostnames if any

# Mapbox settings
TERRA_DEFAULT_MAP_SETTINGS = {
    'accessToken': '<your_mapbox_token>',
    'backgroundStyle': '<your_background_style>', # mapbox://styles/makinacorpus/cjx0630i50y1d1cpk006a92k9
    'center': [-2.028, 47.852], # Default viewport center
    'zoom': 7.7, # Default zoom
    'maxZoom': 19.9,
    'minZoom': 7,
    'fitBounds': {  # Default viewport bounds
        'coordinates': [ 
            [-4.850, 46.776],
            [-0.551, 48.886]
        ],
    },
}

# For admin
TERRA_APPLIANCE_SETTINGS = {
    'VIEW_ROOT_PATH': 'map', # Default view
    'DEFAULT_VIEWNAME': 'test', # Default view name
    'enabled_modules': ['User', 'DataSource', 'DataLayer'], # Enabled terra admin modules
}

## Uncoment these lines to enable and configure geocrud and add 'CRUD' above in enabled_modules
# TERRA_GEOCRUD = {
#     'EXTENT': [2, 40, 6, 50],
#     'MBGLRENDERER_URL': os.getenv('MBGLRENDERER_URL', 'http://mbglrenderer'),
#     "map": {
#         "mapbox_access_token": "key_mapbox",
#         "center": [3, 46],
#         "zoom": 5,
#         "maxZoom": 17,
#         "minZoom": 3
#     },
#     "MAX_ZOOM": 17,
# }
#
