import os

# Production variables

# ALLOWED_HOSTS = [] # Allowed referer hostname
# CORS_ORIGIN_WHITELIST = () # Cors 
# ADMINS = () # To receive errors

SECRET_KEY = os.env.get('DJANGO_SECRET_KEY', 'super-hot-secret-123456789')

TERRA_TILES_HOSTNAMES = [] # Add at least one tiles hostnames here

# Mapbox settings
TERRA_DEFAULT_MAP_SETTINGS = {
    'accessToken': '<your_mapbox_token>',
    'backgroundStyle': '<your_background_style>',
    'center': [-2.028, 47.852], # Default viewport center
    'zoom': 7.7, # Default zoom
    'maxZoom': 19.9,
    'minZoom': 7,
    'fitBounds': {  # Default viewport bounds
        'coordinates': [ 
            [-4.850, 46.776],
            [-0.551, 48.886]
        ],
    },
}

# Rigth side menu entries. Also available views for layers.
TERRA_LAYER_VIEWS = {
    'first': {
        'name': 'First',
        'pk': 1,
    },
    'second': {
        'name': 'Second',
        'pk': 2,
    },
}

# For admin
TERRA_APPLIANCE_SETTINGS = {
    'VIEW_ROOT_PATH': 'first', # Default view
    'DEFAULT_VIEWNAME': 1, # Default view name
    'enabled_modules': ['User', 'DataSource', 'DataLayer'], # Enabled terra admin modules
}

